header {
  background-color: #000000;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

li {
  color: aqua;
  grid-template-columns: 1fr;    
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-row{
  width: 100%;
}

footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  color: white;
}